table{
    background: rgb(54, 255, 238);
}

.tableContainer::-webkit-scrollbar{
    display: none;
}

.tableContainer{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    overflow-y: scroll;
    height: 95%;
}

td{
    padding: .25rem;
    text-align: center;
}

thead{
    font-weight: bolder;
    position: sticky;
}

.showChart{
    background: rgb(34, 150, 140);
    width: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: 900;
    font-size: 1.5rem;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}