.exerciseHolder img{
    width: 15rem;
    height: 200px;
    border-radius: 50px;
    box-shadow: 0;
}

.exerciseHolder{
    margin: 10px;
}

.exerciseHolder:hover img{
    border-radius: 50px;
    box-shadow: 0 0 30px rgb(63, 34, 56);
    /*animation: glowing 1s linear infinite;*/
}

@keyframes glowing {
    0%, 100%{
        box-shadow: 0 0 30px rgb(61, 61, 167), 0 0 40px rgb(61, 61, 167), 0 0 50px rgb(61, 61, 167), 0 0 60px rgb(61, 61, 167), 0 0 70px rgb(61, 61, 167);
    }
    50%{
        box-shadow: 0 0 0 ;
    }
}

#exerciseMainContainer{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(.25rem);
    background: transparent;
    max-width: 1100px;
    backdrop-filter: blur(.25rem);
}

h1{
    font-size: 1.5rem;
}

